*{
    margin: 0px;
    padding: 0px;
}

.relative {
    position: relative;
    border: 1px solid #000;
}
.absolutive {
    position: absolute;
    
}
.ui::before {
    content: "";
    height: 2px;
    width: 37vw;
    background-color: #000;
    position: absolute;
    left: 20px;
    top: 38px;

}
.ui::after {
    content: "";
    height: 2px;
    width: 37vw;
    background-color: #000;
    position: absolute;
    right: 10px;
    top: 38px;

}
.ux::before {
    content: "";
    height: 2px;
    width: 42vw;
    background-color: #000;
    position: absolute;
    left: 20px;
    top: 21px;

}
.ux::after {
    content: "";
    height: 2px;
    width: 42vw;
    background-color: #000;
    position: absolute;
    right: 10px;
    top: 21px;

}
.quia {
    display: inline;
}
div.box {
    position: relative;
    width: 99.8%;
    height: 450px;
    border: 6px solid #5f636e;
}
div.boxes {
    position: absolute;
    
    top: 80px;
    left: 20px;
    background: #858a99;
    width: 400px;
    height: 300px;
}
label{
    position: relative;
    text-align: left;
}
.a li {
    list-style-type: circle;
}
.aboutme h3 {
    color: green;
    
}
.aboutme li {
    padding-left: 30px;
}
.linebo{
    margin-top: 30px;
}