* {
    padding: 0;
    margin: 0;
}
.head {
    padding: 20px;
    background: #aaa;
    text-align: center;
    margin: 10px;
}
.nav ul li {
    display: inline;
   

}
.nav ul li a {
    text-decoration: none;
    margin: 36px;
    color: #000;
}
.nav_sb1 {
    display: inline-block;
    width: 25%;
}
.nav_sb2 {
    display: inline-block;
    width: 60%;
}
.nav {
    background: #aaa;
    padding: 20px;
    margin: 10px;
}
.feature h2 {
    text-align: center;
    background: #aaa;
    height: 201px;
    margin: 10px;
}
.column {
    text-align: center;
 
    height: 201px;
    margin: 10px;
}
.cl_1 {
    display: inline-block;
    width: 30%;
    background: #aaa;
    padding: 20px;
    height: 161px;
}
.cl_2 {
    display: inline-block;
    width: 30%;
    background: #aaa;
    padding: 20px;
    height: 161px;
}
.cl_3 {
    display: inline-block;
    width: 30%;
    background: #aaa;
    padding: 20px;
    height: 161px;
}
.footer {
    padding: 20px;
    background: #aaa;
    text-align: center;
    margin: 10px;
}
