*{
    padding: 0;
    margin: 0;
}
.main {
    border: 1px solid;
    background: #1a1fc1;
    color: #fff;
    font-weight: 800;
}

.head {
    background-color: #aaa;
    text-align: center;
    padding: 40px;
    margin: 15px
}
.nav {
    position: sticky;
    background-color: #e0107f;
    text-align: center;
    padding: 20px;
    margin: 15px;
    top: 0px;

}
.mcnt_1 {
    text-align: center;
    width: 65%;
    background: #5fb76a;
    height: 700px;
   
    
}
.cnt {
    /* background: #770c0c; */
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
    height: 700px;
}
.mcnt_1 h2 {
    padding: 48px;
}
.mcnt_2 {
    text-align: center;
    vertical-align: top;
    width: 32%;
    background: #387f83;
    padding: 2px;
    margin: 0px 15px;
    height: 678px;
}
.mcnt_2 h3 {
    
    text-align: center;
    line-height: 26;
}
.at_sb {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.at_1 h2 {
    text-align: center;
    padding: 33px;
    background: #0b0f9b;
    margin: 24px;
    
}
.footer {
    background-color: #f21616;
    text-align: center;
    padding: 40px;
    margin: 15px;
}


/* 

.main {
    border: 2px solid;
    width: 700px;
    height: 500px;
    position: relative;
}

.bx-1 {
    background-color: blue;

    /* display: none; */
    /* width: 50px;
    height: 50px; */
    /* bottom: 0px; */
    /* right: 50%;
    top: 50%; */
/* } */
/* .bx-2 {
    background-color: #f82020;
    position: sticky;
    top: 20px;
    width: 50px;
    height: 50px; */
    /* position: fixed; */
    
/* } */
/* .bx-3 {
    background-color: rgb(195, 255, 0);
    /* position: absolute; */
    /* width: 50px;
    height: 50px;
}  */