*{
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
    border: 1px solid;
    width: 500px;
    height: 500px;

}
.child-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(245, 10, 10);
    padding: 40px;
    z-index: 9;
}

.child-2 {
    position: absolute;
    /* top: 30%; */
    /* right: -25px; */
    padding: 40px;
    z-index: 12;
    background-color: rgb(10, 245, 202);
}
.child-3 {
    position: absolute;
    bottom: 5px;
    padding: 40px;
    left: 10px;
    background-color: rgb(245, 10, 10);
}

